/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

a{
    color: currentColor;
    text-decoration: none;
}

/* UTILITIES */
/* .flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */


/* WEBAPP */
#app{
    height: 100vh;
    
    color: white;
    display: flex;
}

#app header{
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
    width: 250px;
}

.nav__header{
    height: 100%;
}
/* ESPERIMENTI */


