/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

a{
    color: currentColor;
    text-decoration: none;
}

/* WEBAPP */
#app{
    height: 100vh;
    background-color: #333;
    color: white;
    display: flex;
}

#app header{
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
    width: 250px;
}